.blacks{
    /* background-color: rgb(23, 75, 1); */
    /* background-image: linear-gradient(rgb(5, 17, 0),rgb(5, 17, 0),rgb(23, 75, 1)); */
    background-color: black;
}

.comfortaa{
    font-family: 'Comfortaa', cursive;
	font-family: 'Orbitron', sans-serif;
}

.orbitron{
	font-family: 'Orbitron', sans-serif;
}